body {
    margin: 0;
    padding: 0;
    display: grid;
    font-family: Manrope, sans-serif;
    grid-template-columns: 13rem 2fr 1fr;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    font-size: 1.5rem;
    border-right: 1px solid navy;
    grid-area: 1/1/6/1;
    height: 100%;
    z-index: 5;
    background-color: white;
}

nav a {
    color: black;
    text-decoration: none;
    border: 1px solid navy;
    border-radius: 8px;
    padding: 0.3rem;
    box-shadow: 1px 1px black;
    margin: 0 1rem;
    line-height: 3.5rem;
    height: 1rem;
}

#homebt {
    top: 1.5rem;
}

article {
    grid-column-start: 2;
}

.about-me {
    font-size: 1.1rem;
    grid-row-start: 1;
}

.about-me h1 {
    font-size: 2.5rem;
}

.me-pic {
    height: 15rem;
    width: 12rem;
    border-radius: 50%;
    grid-column-start: 3;
    align-self: center;
    justify-self: center;
}

.projects a {
    text-decoration: none;
    color: rgb(21, 2, 129);
}

.excursion-cap {
    display: flex;
    width: auto;
    max-height: 50rem;
}

.mixed-cap {
    width: 100%;
    height: auto;
}

#shrink {
    display: none;
}

button {
    background-color: gainsboro;
    border-radius: 5px;
    color: black;
    font-family: Manrope, sans-serif;
    font-weight: bold;
}

.skills {
    grid-column-end: 4;
}

.skills img {
    margin: 1.5rem;
    width: auto;
    height: 5rem;
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    border-top: 1px solid navy;
    padding: 0px 1.5rem;
}

@media only screen and (max-width: 960px) {
    body {
        grid-template-columns: 2fr 1fr;
    }

    nav {
        flex-wrap: wrap;
        border-bottom: 1px solid navy;
        border-right: none;
        position: fixed;
        flex-direction: row;
        height: 5rem;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    article {
        padding: 0 1rem;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .about-me {
        margin-top: 5rem;
    }
}

@media only screen and (max-width: 500px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 350px 1fr 2fr 200px 100px;
    }

    nav {
    }
    
    nav a {
        font-size: 1.1rem;
    }

    .me-pic {
        grid-row-start: 1;
        grid-column-start: 1;
        align-self: flex-end;
    }

    .about-me {
        margin-top: 0;
        grid-row-start: 2;
    }

    .excursion-cap {
        max-height: 35rem;
    }

    .projects {
        grid-row-start: 3;
    }

    .skills {
        grid-row-start: 4;
    }

    .skills h2 {
        display: block;
    }

    footer {
        grid-row-start: 5;
    }
}

@media only screen and (max-width: 420px) {
    nav a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 395px) {
    nav a {
        font-size: 0.7rem;
    }
}